<div class="jumbotron">
	<h1>Say "Peanut Butter"!</h1>
  <h2>Pet Photography &amp; Free Treats</h2>
</div>
<div class="row">
  <div class="col-xs-12" id="nose">
   <img src="/images/nose.jpg" alt="featuredproduct" class="img-responsive center-block">
 </div>
</div>
<div class="row">
	<div class="col-xs-6 col-md-6 col-md-offset-3" id="about-para">
    <h2>
      Is your pet ready for his close up?</h2> 
      <p>There's no need for him to sit, stay, or shake. At "Say 'Peanut Butter'!" we get the best side of your pet the natural way, by getting down on his level. So whether you want some frame-ables, gifts for the fur-grandparents, or just new pics for his social media pages, give us a call and we'll be earning your praise in no time!
      </p>
      <h2>Featured Product:</h2>
      <%= @featured_product.name %>
    </div>
  </div>

  <div class="row">
  <div class="col-xs-4 col-xs-offset-4" style="padding-left:60px" id="carousel">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @products.each do |product| %>
          <div class="item active">
           <%= image_tag(product.image_url) %>
         </div>
         <div class="item">
           <%= image_tag(product.image_url) %>
         </div>
        <div class="item">
           <%= image_tag(product.image_url) %>
         </div> 
         <% end %>
       </div>

     <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>
</div>

  <ul class="thumbnails">
    <div class="row">
     <div class="col-md-4">
      <li>
        <a href="#" class="thumbnail">
          <img src="/images/elsie1.jpg" alt="">
        </a>
      </li>
    </div>
    <div class="col-md-4">
     <li class="span4">
      <a href="#" class="thumbnail">
        <img src="/images/otto1.jpg" alt="">
      </a>	
    </li>
  </div>
  <div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/riley1.jpg" alt="">
    </a>
  </li>
</div>
</div>
<div class="row">
	<div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/elsie2.jpg" alt="">
    </a>
  </li>
</div>
<div class="col-md-4">
 <li class="span4">
  <a href="#" class="thumbnail">
    <img src="/images/otto2.jpg" alt="">
  </a>
</li>
</div>
<div class="col-md-4">
 <li class="span4">
  <a href="#" class="thumbnail">
    <img src="/images/otto3.jpg" alt="">
  </a>
</li>
</div>
</div>
<div class="row">
  <div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/otto_paw.jpg" alt="">
    </a>
  </li>
</div>
<div class="col-md-4">
 <li class="span4">
  <a href="#" class="thumbnail">
    <img src="/images/elsie3.jpg" alt="">
  </a>
</li>
</div>
<div class="col-md-4">
 <li class="span4">
  <a href="#" class="thumbnail">
    <img src="/images/riley2.jpg" alt="">
  </a>
</li>
</ul>
</div>
</div>

<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    })
  });    
</script>

