<div class="jumbotron" id="jumbo-other">
	<h1>Say "Peanut Butter"!</h1>
	<h2>Pet Photography &amp; Free Treats</h2>
</div>

<div class="container">
  
    <div class="row">
        <div class="col-md-4">            
            <div class="thumbnail">
                <div class="caption">
                    <h4>One Hour Photo Session</h4>
                    <p>With a full hour, we'll get plenty of great images of even the squirmiest of critters! </br> Click to purchase.</p>
                </div>
                <a href="/products/1"><img src="/images/one-hour.png" alt="One Hour Photo Session"></a>
            </div>
      </div>
      <div class="col-md-4">            
            <div class="thumbnail">
                <div class="caption">
                    <h4>Mini Thirty Minute Photo Session</h4>
                    <p>For the busy pet owner, we have a shorter - but still great fun - photo session. </br> Click to purchase.</p>
                </div>
                <a href="/products/2"><img src="/images/mini-session.png" alt="Mini Thirty Minute Photo Session"></a>
            </div>
      </div>
      <div class="col-md-4">            
            <div class="thumbnail">
                <div class="caption">
                    <h4>Multi-Pet Photo Session</h4>
                    <p>Bring the whole gang! We'll need the full hour to wrangle all the wiggly tails. </br> Click to purchase.</p>
                </div>
                <a href="/products/3"><img src="/images/multi-pet.png" alt="Multi-Pet Photo Session"></a>
            </div>
      </div>
  </div>
</div>





