<div class="jumbotron" id="jumbo-other">
	<h1>Say "Peanut Butter"!</h1>
		<h2>Pet Photography &amp; Free Treats</h2>
</div>

<div class="about-title" style="font-size 2.5em">
<h2>About Me &amp; My Pups</h2>

<h2>- or - Why I Shoot Animals For Fun</h2>
</div>
<div class="row">
	<div class="col-xs-6 col-md-4">
<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img src="holder.js/300x200" alt="">
    </a>
  </li>
</div>
  <div class="col-xs-6 col-md-4">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img src="holder.js/300x200" alt="">
    </a>
  </li>
</div>
  <div class="col-xs-6 col-md-4">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img src="holder.js/300x200" alt="">
    </a>
  </li>
</div>
</ul>
</div>
<div class="row">
	<div class="col-xs-6 col-md-4">
<p>Hi, I'm Jen, a certified animal lover and while I do enjoy shooting them, it's only with digital cameras. I got my first dog at age 8 and I haven't been without one since. The joy a pet can bring into your life is immessurable.</p></div> 
	<div class="col-xs-6 col-md-4"><p>I got my first real DSLR camera about 5 years ago and that has been pure joy for me as well. It's only been natural to turn the camera on my pups and even though animals can be challenging to photograph, they are also so much fun.</p></div> 
	<div class="col-xs-6 col-md-4"><p>These days I share my home with my husband, Riley, our 9 year old Yorkie, Elsie, our 7 year old Weimaraner, and Otto, the new addition. He's our 6 month old Doberman. When I'm not harassing them by experimenting with new flash techniques, I love photographing the pets of friends and family. Every pet deserves to have their best side shown, so I also volunteer my services for shelters and fosters.</p> </div>
</div>
