<h1>Give Us a Woof (or a Meow)</h1>


<h2>Say "Peanut Butter"! Pet Photography</h2>

<h3>
Phone: (443) 745-6025 <br>
Email: jduvall330@gmail.com <br>
Location: Ellicott City, MD </h3>

<h3>Be sure to ask for lead photographer and animal lover, Jen Duvall, for pricing details.</h3>

<h3>Attention All Shelters and Fosters!</h3>
<p>I happily do pro bono work for any shelters, foster families or organizations, or any other not-for-profit animal organization that has a need for a photographer. Please contact me and let me know how I can help!</p>
