<h1>Say "Peanut Butter"!</h1>
<h2>Pet Photography &amp; Free Treats</h2>

<p>
Is your pet ready for his close up? There's no need for him to sit, stay, or shake. At "Say 'Peanut Butter'!" we get the best side of your pet the natural way, by getting down on his level. So whether you want some framables, gifts for fur-grandparents, or just new pics for his social media pages, give us a <a href="#contact">call</a> and we'll be earning your praise in no time!
</p>
