<div class="jumbotron">
	<h1>Say "Peanut Butter"!</h1>
		<h2>Pet Photography &amp; Free Treats</h2>
</div>
<div class="row">
<div class="col-xs-12" id="nose">
	<img src="/images/nose.jpg" alt="featuredproduct" class="img-responsive center-block">
</div>
</div>
<div class="row">
	<div class="col-xs-6 col-md-6 col-md-offset-3" id="about-para">
<h2>
Is your pet ready for his close up?</h2> 
<p>There's no need for him to sit, stay, or shake. At "Say 'Peanut Butter'!" we get the best side of your pet the natural way, by getting down on his level. So whether you want some framables, gifts for the fur-grandparents, or just new pics for his social media pages, give us a call and we'll be earning your praise in no time!
</p>
<h2>Featured Product:</h2>
<%= @featured_product.name %>
</div>
</div>
	<ul class="thumbnails">
<div class="row">
	<div class="col-md-4">
  <li>
    <a href="#" class="thumbnail">
      <img src="/images/elsie1.jpg" alt="">
    </a>
  </li>
</div>
 <div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/otto1.jpg" alt="">
    </a>	
  </li>
</div>
  <div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/riley1.jpg" alt="">
    </a>
  </li>
</div>
</div>
<div class="row">
	<div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/elsie2.jpg" alt="">
    </a>
  </li>
</div>
<div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/otto2.jpg" alt="">
    </a>
  </li>
</div>
<div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/otto3.jpg" alt="">
    </a>
  </li>
</div>
</div>
<div class="row">
<div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/otto_paw.jpg" alt="">
    </a>
  </li>
</div>
	<div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/elsie3.jpg" alt="">
    </a>
  </li>
</div>
	<div class="col-md-4">
   <li class="span4">
    <a href="#" class="thumbnail">
      <img src="/images/riley2.jpg" alt="">
    </a>
  </li>
</ul>
</div>
</div>
