/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	background-color: #181516;
 }
 .jumbotron {
	text-align: center;
	background-color: #181516;
	color: white;
	margin-bottom: 0px;
}
h2 {
	color: #EECA66;
}
.carousel-inner{
  position:relative; 
  width:300px;
  margin:0 auto;
}
.carousel-controls{
 position:relative; 
  width:300px;
  margin:0 auto;
  padding-bottom: 20px;
}

.carousel-indicators{
   top:0px; 
}
#PB {
	color: #A18535;
}
a:link {
	color:#EECA66;
}
a:visited {
	color: #7FF1D0;
}
