/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #FEFFF7;
}
h1 {
	font-family: Fontdiner Swanky;
	color: black;
	text-align: center;
}
h2 {
	font-family: Open Sans;
	color: black;
	text-align: center;
}
h3 {
	font-family: Raleway;
	color: black;
	text-align: center;
}
p {
	font-family: Raleway;
	color: black;
	text-align: center;
	font-size: 1.2em;

}
.jumbotron {
	text-align: center;
	background-image: url(../images/peanuts.jpg);
	background-repeat: no-repeat;
}
.jumbotron h2 {
	color: #FFFFFF;
}
nav ul li {
	font-family: Open Sans;
	font-size: 1.5em;
}
#jumbo-other {
	background-image: url(../images/nose-transparent.jpg);
}
#PB {
	color: #945919;
}
.jumbotron h1 {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.carousel-inner {
	height: 300px;
	width: 300px;
	left: 20px;
	display: block;
	margin: 0 auto;
}
.carousel-indicators {
	margin: 0 auto;
}
tbody td {
	color: black;
	margin: 20px;
}
td a {
	margin: 20px;
}
label {
	color: black;
}
input {
	color: black;
}
textarea {
	color: black;
}
ul li {
	color: black;
}
.fotorama img {
	width: 1290px;
}
#sign_up {
	text-align: left;
}
.caption {
    text-align: center;
}
.product {
	text-align: left;
}
