h1 {
	font-family: Fontdiner Swanky;
	color: white;
	text-alignment: center;
}
h2 {
	font-family: Dosis;
	color: white;
	text-align: center;
}
h3 {
	font-family: Open Sans;
	color: white;
}
p {
	font-family: Open Sans;
	color: white;
	font-size: 15px;
	line-height: 1.5em;
}
#jumbo-other {
	background-image: url("/images/nose-transparent.jpg");
	color: black;
}
#jumbo-other h2 {
	color: black;
}
#about-para {
	text-align: center;
}
.carousel-inner {
	height: 300px;
	width: 300px;
}


	


