<html>
  <body>
    <%= yield %>
    <div class="row">
	<div class="col-xs-6 col-md-4">
		<h2>Thank you so much for your message!</h2><p> We will get back to you as soon as possible. - Jen</p>
	</div>
</div>
  </body>
</html>
